<div class="game-board" fxLayout="row wrap"fxLayoutAlign="space-around center" >
    <div fxFlex="10%"></div>
    <div fxFlex="80%" fxLayout="column" fxLayoutAlign="space-around center">
        <h2>Rock Paper Scissors Lizard Spock</h2>
        <p>This is a mock front-end to test your RPSLS API against.</p>

        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h3>Step 1: Put your root URL here</h3>
            <input type="text" placeholder="put your url here">
        </div>

        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h3>Step 2: Populate choices from the /choices endpoint</h3>
            <button>click me!</button>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h3>Step 3: Click an above choice to play against the computer with the /play endpoint</h3>

            <h3>Random Choice</h3>

            <button>click me!</button>
            
            <button>But why this ugly page?</button>
            
        </div>

    </div>
    <div fxFlex="10%"></div>
</div>